name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Run workflow manually
  workflow_dispatch:

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"

      - name: Bundler
        run: bundle install

      - name: Rubocop
        run: bin/rubocop

  specs:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "4.0"
          - "3.4"
          - "3.3"
          - "3.2"
          - "3.1"
          - "3.0"
          - "2.7"

    env:
      # Check for frozen strings
      RUBYOPT: "--enable=frozen-string-literal --debug=frozen-string-literal"

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: RSpec
        run: bin/rspec
