name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  specs:
    name: Rubocop & Rspec
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.4', '3.3', '3.2', '3.1', '3.0', '2.7']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby ${{matrix.ruby-version}}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby-version}}
        bundler-cache: true
    - name: Install dependencies
      run: bundle install --quiet
    - name: Rubocop
      run: bundle exec rubocop -D
    - name: Rspec
      run: bundle exec rspec
