name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Run workflow manually
  workflow_dispatch:

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true

      - name: Rubocop
        run: bin/rubocop

  specs:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        ruby:
          - "4.0"
          - "3.4"
          - "3.3"
          - "3.2"

    env:
      # Check for frozen strings
      RUBYOPT: "--enable=frozen-string-literal --debug=frozen-string-literal"

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: RSpec
        run: bin/rspec

      - name: Coverage Summary
        if: success() || failure()
        run: bin/coverage_summary
